<launch>
    <!-- 是否打开rviz-->
    <arg name="open_rviz" default="true"/>
    <!-- 地图名-->
    <arg name="map" default="house"/>
    <!-- 加载地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find transbot_nav)/maps/$(arg map).yaml"/>
    <include file="$(find transbot_nav)/launch/library/amcl.launch"/>
    <include file="$(find transbot_nav)/launch/library/app.launch"/>
    <include file="$(find transbot_nav)/launch/library/move_base.launch"/>
    <group if="$(arg open_rviz)">
        <include file="$(find transbot_nav)/launch/view/view_navigate.launch"/>
    </group>
    <!-- MarkerArray node> -->
    <node name='send_mark' pkg="transbot_nav" type="send_mark.py"/>
</launch>

