<launch>
    <arg name="open_rviz" default="true"/>
    <arg name="map_type" default="gmapping" doc="opt: gmapping,hector,karto,cartographer"/>
    <include file="$(find transbot_nav)/launch/library/$(arg map_type).launch"/>
    <include file="$(find transbot_nav)/launch/library/app.launch"/>
    <group if="$(arg open_rviz)">
        <include if="$(eval arg('map_type') != 'cartographer')"
                 file="$(find transbot_nav)/launch/view/view_map.launch"/>
        <include if="$(eval arg('map_type') == 'cartographer')"
                 file="$(find transbot_nav)/launch/view/view_cartographer.launch"/>
    </group>
</launch>
